
html {
    min-height: 100%;
    background-image: linear-gradient(to bottom right, black, grey);
    background-repeat: no-repeat;
    font-family: 'Courier New';
    font-weight: 900;
}

.maintitle  {
    color: white;
    text-align: center;
    font-size: 100px;
    text-shadow: 3px 3px 3px black,
               6px 6px 3px black;
}

.littletext {
    position: relative;
    top: -500px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 1px black,
               2px 2px 1px black;
}

.usefullbuttons  {
    position: relative;
    top: 10px;
    text-align: center;
}

button {
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 7px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black,
               6px 6px 3px black;
}

button:hover {
    background-color: black;
    opacity: 0.3;
    color: whitesmoke;
}

button:active {
    opacity: 0.5;
}

.time {
    top: 100px;
    text-shadow: 3px 3px 3px black,
               6px 6px 3px black;
    position: relative;
    color: whitesmoke;
    font-size: 150px;
    text-align: center;
}

#status {
    text-shadow: 2px 2px 2px black,
               4px 4px 2px black;
    position: relative;
    top: -430px;
    font-size: 40px;
}